################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/3 semestr/OOP/Lab_07/.vs
/3 semestr/OOP/Lab_07/obj/Debug/net7.0/ref/Lab_07.dll
/obj
/bin
/7 semestr/БПтД/cryptographyCourse/cryptographyCLI/obj
/7 semestr/БПтД/cryptographyCourse/cryptographyLib/obj
/7 semestr/БПтД/cryptographyCourse/cryptographyTests/obj
/7 semestr/БПтД/cryptographyCourse/cryptographyCLI/bin
/7 semestr/БПтД/cryptographyCourse/cryptographyTests/bin
/7 semestr/БПтД/cryptographyCourse/cryptographyLib/bin
7 semestr/БПтД/cryptographyCourse.zip
