################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/3 semestr/OOP/Lab_07/.vs
/3 semestr/OOP/Lab_07/obj/Debug/net7.0/ref/Lab_07.dll
